<! --show my articles -->
<!DOCTYPE html>
<html>
    <head>
        <title>{{ post.title }}</title>
        {% load staticfiles %}
        {% load cslzy_app_markdown %}
        <link rel="stylesheet" href="{% static 'article/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'article/css/blog_page.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'article/css/blog_page_style.css' %}" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="nav">
                <a href="/"><i class="fa fa-home"></i> 主页</a>
                <a href="/list/">文章列表</a>
                <a href="/friends/">友情链接</a>
                <a href="/toys/">小玩意儿</a>
                <!--
                <a href="/">关于我</a>
                -->
            </div>
        </div>
        {% block content %}
        {% endblock %}
   </body>
</html>
