<!-- main page of my blog -->
<!DOCTYPE HTML>
<html>
    <head> 
        <title>Personal blog</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'article/css/main.css' %}">
    <head>

    <body id="top">
        <header id="header" style="background-position: left top, center center;">
            <a href="#" class="image avatar">
                <img src="/static/article/giraffe.jpg" height="100px" alt="咦，头像呢？" title="长颈鹿"/>
            <a/>
            <h1>我是<strong>cslzy</strong><br/>这是用Django搭建的一个简单的个人博客。</h1>
            <h1><strong>如果喜欢，就拼尽全力去做。</strong></h1>
            <ul class="actions">
                <li><a href="#" class="button">关于我</a></li>
            </ul>
        </header>
        <div id="main">
            <section id="one">
                <header class="major">
                    <h2> This is a test.</h2>
                    <img src="{% static 'article/imgs/under-construction.gif'%}" width=100% />
                </header>
            </section>
            <section id="two">
                <h2><b>近期博客</b></h2>
                {% if blog_list %}
                    {% for blog in blog_list %}
                        <div>
                            <h3><a href="{{ blog.id }}">{{ blog.title}}</a></h3>
                            
                            <p>{{ blog.date_time | date:"F j, Y" }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>哦噗，竟然还没有写博客。。。</p>
                {% endif %}

            </section>
        </div>

        <footer id="footer">
            <h2 align="left"> 联系我：</h2>
            <ul class="icons">
                <li><a href="http://blog.csdn.net/cy_tec" title="点击即可查看我的CSDN博客"><span class="label"><strong>CSDN博客</strong></span></a></li>
                <li><a href="mailto:lizhenyang_2008@163.com" title="点击即可激活邮件程序"><span class="label"><strong>邮箱:&nbsp&nbsp&nbsp&nbsplizhenyang_2008@163.com</strong></span></a></li>
            </ul>
        </footer>
    </body>
<html>
