<!-- main page of my blog -->
<!DOCTYPE HTML>
<html>
    <head> 
        <title>Personal blog</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        {% load cslzy_app_markdown %}
        <link rel="stylesheet" href="{% static 'article/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'article/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'article/css/main_page_posts.css' %}">
    <head>

    <body id="top">
        <header id="header" style="background-position: left top, center center;">
            <a href="#" class="image avatar">
                <img src="https://coding.net/u/cslzy/p/static-resource/git/raw/master/img/giraffe.jpg" height="100px" alt="咦，头像呢？" title="长颈鹿"/>
            <a/>
            <h1>我是<strong>cslzy</strong><br/>这是用Django搭建的一个简单的个人博客。</h1>
            <!-- <h1><strong>如果喜欢，就拼尽全力去做。</strong></h1> -->
            <h1><strong>What is the job, you cannot do?</strong></h1>
            <ul class="actions">
                <li><a href="#" class="button"><strong>关于我</strong></a></li>
            </ul>
        </header>
        <div id="main">
            <section id="one">
                <header class="major">
                    <h2>网站建设中。。。</h2>
                    <!--
                    <img src="https://coding.net/u/cslzy/p/static-resource/git/raw/master/img/under-construction.gif" width=100% />
                    -->
                </header>
            </section>
            <section id="two">
                <h2><b>近期博客</b></h2>
                <div id="posts">
                    {% if blog_list %}
                        {% for blog in blog_list %}
                            <div class="post">
                                <h2 class="title"><a href="blogs/{{ blog.id }}"><i class="fa fa-leaf"></i>{{ blog.title}}</a></h2>
                                <div class="post_body">
                                    {{ blog.content | cslzy_markdown| truncatewords_html:50  }}
                                </div>
                                <div class="info">
                                    <p><i class="fa fa-clock-o"></i>{{ blog.date_time | date:"Y, M, d: h:m:s" }}
                                    <i class="fa fa-tag"></i>{{ blog.category }}</p>
                                    <div class="read_more">
                                        <a href="blogs/{{ blog.id }}">>>更多...</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>哦噗，竟然还没有写博客。。。</p>
                    {% endif %}
                </div>

            </section>
        </div>

        <footer id="footer">
            <h2 align="left"> 联系我：</h2>
            <ul class="icons">
                <li><a href="http://blog.csdn.net/cy_tec" title="点击即可查看我的CSDN博客"><span class="label"><strong>CSDN博客</strong></span></a></li>
                <li><a href="mailto:lizhenyang_2008@163.com" title="点击即可激活邮件程序"><span class="label"><strong>邮箱:&nbsp&nbsp&nbsp&nbsplizhenyang_2008@163.com</strong></span></a></li>
            </ul>
        </footer>
    </body>
<html>
