<! --show my articles -->
<!DOCTYPE html>
<html>
    <head>
        <title>Show Articles</title>
        {% load staticfiles %}
        {% load cslzy_app_markdown %}
        <link rel="stylesheet" href="{% static 'article/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'article/css/blog_page.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'article/css/blog_page_style.css' %}" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="nav">
                <a href="/">主页</a>
                <a href="/">分类</a>
                <a href="/">友情链接</a>
                <a href="/">关于我</a>
            </div>
        </div>
        <div id="layout">
            <div class="post detail_post">
                <h1 class="title" align="center"><i class="fa fa-leaf"></i>{{ title }}</h1>
                <div class="info">
                    <span class="date">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ date }}
                    </span>
                    <span class="category">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                        {{ category }}
                    </span>
                </div>
                </div>
                {{ content | cslzy_markdown }}
            </div>
        </div>
    </body>
</html>
