<! --show my articles -->
<!DOCTYPE html>
<html>
    <head>
        <title>Show Articles</title>
        <style>
            body
            {
                background-color: green;
            }
            em
            {
                color: LightSeaGreen;
            }
        </style>
    </head>

    <body>
        <h1 align="center">Title: <strong>{{ title }}</strong></h1>
        <h5>Category: <strong>{{ category }}</strong></h5>
        <h5>Date&Time: <strong>{{ date }}</strong></h5>
        <h2>Content</h2>
            <strong>{{ content }}</strong>
    </body>
</html>
